<h1>Books in <%= @bookshelf %></h1>
<p>
  <b>Bookshelf details:</b>
  <%= @bookshelf %>
</p>

<h2>Books</h2>
<% @bookshelf.book.each do |book| %>
<p>
  <b>Books:</b>
  <%= book.title %>
</p>
<% end %>

<%= link_to 'Edit', edit_reader_bookshelf_path(@reader, @bookshelf) %> |
<%= link_to 'Back', reader_bookshelves_path(@reader) %>
